.game-options {
  position: absolute;
  padding: 20px;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  z-index: 1000;
  background-color: rgba(#fff, .8);
  @include transition(transform 1s $trans, opacity .8s);
  .btn {
    border-radius: 50%;
    padding: 30px 25px;
  }
  input,
  .input-group-addon {
    border-radius: 0 !important;
  }
  .input-group-addon {
    background-color: transparent;
    border: none;
  }
  .checkbox-inline input {
    margin-right: 4px;
  }
  #hashtag {
    border: none;
    border-bottom: 1px solid $gray-lighter;
    @include box-shadow(none);
    &:active,
    &:focus {
      @include box-shadow(none);
    }
  }
  .form-group {
    margin: 40px 0;
  }
  .checkbox-inline:first-child {
    padding-left: 0;
  }
  .checkbox-inline + .checkbox-inline {
    margin-left: 0;
  }
  &.out {
    @include transform(translate3d(0, -350px, 0));
    opacity: 0;
  }
}

@media only screen and (min-width: $screen-sm) {
  .game-options { 
    width: 50%;
    left: 50%;
    margin-left: -25%;
    padding: 20px;
    .form-group {
      margin: 40px 0;  
    }
  }
}