<!-- Twitter card -->
%meta{content: "summary_large_image", name: "twitter:card"}
%meta{content: "@stecb", name: "twitter:site"}
%meta{content: "@stecb", name: "twitter:creator"}
%meta{content: "Memorysta. Instagram Memory game. By Stefano Ceschi Berrini", name: "twitter:title"}
%meta{content: "MemorYsta: choose an hashtag (locations, animals, people, whatever), choose the level and PLAY memory game!", name: "twitter:description"}
%meta{content: "http://stecb.ninja/memorysta/memorysta_og-.jpg", name: "twitter:image:src"}
%meta{content: "http://stecb.ninja/memorysta", name: "twitter:url"}
<!-- Open graph -->
%meta{content: "MemorYsta", property: "og:site_name"}
%meta{content: "Memorysta. Instagram Memory game. By Stefano Ceschi Berrini", property: "og:title"}
%meta{content: "MemorYsta: choose an hashtag (locations, animals, people, whatever), choose the level and PLAY memory game!", property: "og:description"}
%meta{content: "http://stecb.ninja/memorysta/memorysta_og-.jpg", property: "og:image"}
%meta{content: "http://stecb.ninja/memorysta", property: "og:url"}
%meta{content: "en_US", property: "og:locale"}