$trans: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$main-color: rgba(0,0,0,.8);

@import "memorysta/normalize";
@import "compass";
@import "sweetalert";
@import 'animate';
@import 'animate/shake';
@import 'animate/pulse';
@import 'animate/fadeInUp';
@import 'animate/fadeOutUp';
@import 'fontawesome/font-awesome';
@import 'mixins/vendor_prefixes';
@import 'bootstrap';

body {
  -webkit-backface-visibility: visible;
  position: relative;
  font-family: 'Roboto Condensed', Georgia, sans-serif;
  background-color: #fff;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-color;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.01rem;
  padding: 20px;
}

a {
  text-decoration: none;
  color: $main-color;
}

* {
  box-sizing: border-box;
}

.main-info {
  width: 310px;
  padding: 10px 0;
  border-right: 3px solid $gray-lighter;
}

header {
  overflow: hidden;
  img {
    margin-right: 10px;
  }
  h2 {
    margin-top: 20px;
    font-size: 20px;
  }
  h3 {
    margin-top: 10px;
    font-size: 16px;
  }
  ul {
    font-size: 10px;
    width: 240px;
    margin-top: 20px;
    padding-left: 20px;
    li {
      margin-bottom: 3px;
      list-style: none;
    }
    i {
      width: 15px;
    }
    li.divider {
      margin-top: 10px;
    }
  }
}

.experience-item {
  margin-left: 20px;
  > ul {
    font-size: 12px;
  }
}

.experience-title .small {
  color: $gray-light;
  font-size: 10px;
}

section h4 {
  display: inline-block;
  padding: 5px 50px;
  padding-left: 5px;
  border-bottom: 1px solid $brand-primary;
}

@media print {
  a { 
    color: $main-color !important; 
  }
  a[href]:after {
    content: none !important;
  }
  .experience-title .small {
    color: $gray-light !important;
    font-size: 10px;
  }
}