%footer.text-center
  %p.small
    <button class="btn btn-primary hidden-dark" type="button"><i class='fa fa-toggle-off'></i> dark theme</button><button class="btn btn-primary visible-dark" type="button"><i class='fa fa-toggle-on'></i> light theme</button>
  %p.small
    This website has been totally handcrafted by me, with the help of the awesome <a href="http://middlemanapp.com" target="_blank">Middleman</a>, a few lines of JavaScript, HAML and SASS. <br> And freely hosted by <a href="https://pages.github.com/" target="_blank"><i class="fa fa-github"></i> github pages</a>.
  :plain
    <div class="trk-instapay" data-user="3" data-href="https://timerepublik.com/plugins/instant_pay/3" data-layout="inline" data-hours="true" data-text="gift"></div><script>!function(e,t,s){var n,r=e.getElementsByTagName(t)[0];e.getElementById(s)||(n=e.createElement(t),n.id=s,n.src='https://assets.timerepublik.com/assets/embed-e16571aaa75b6a343d35f1bd6bc4f6ec.js',r.parentNode.insertBefore(n,r))}(document,'script','trk-jsembed');</script>
  %br
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://stecb.ninja" data-via="stecb">Tweet</a>
  <a href="https://twitter.com/stecb" class="twitter-follow-button" data-show-count="false">Follow @stecb</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  %p.small &copy; Stefano Ceschi Berrini 2014
  = partial 'social_links'