.section-cover.section-cover-life{data: {menuitem: 'is-current-life'}}
  %h2 Life
  %h3
    .sub-line There is
    .sub-line no place
    .sub-line like home!

.container
  %p
    I'm - a proud - Italian and I come from a wonderful city near Venice, <a href="http://en.wikipedia.org/wiki/Padua" target="_blank"><b>Padua</b></a>. 
    %br
    I'm happily married with my awesome wife <b>Deborah</b>, I have a wonderful daughter <b>Rebecca</b> and my original family is composed by mum Lucia, dad Renato and 12 (yes, twelve) siblings, from oldest to youngest: Anna, Marta, Stefano(me), Paolo, Irene, Chiara, Simone, Giovanni, Francesca, Davide, Elena and (my fav. one :P) Michele.
    %br
    I love hanging out with friends, soccer, NBA, mountains, snow, skiing, italian food, cooking, american culture, california and obviously music (Metal, Progressive Metal, Rock, Progressive Rock, Classical). I used to be a guitar player when I was younger (you know, high school/univ years, when you have a lot of free time).
    %br
    Some of the bands I like the most are: <b>Dream Theater</b>, Pink Floyd, Iron Maiden, Metallica, Opeth, Porcupine Tree, Anathema, Ludovico Einaudi, Genesis, PFM, EL&P, Muse, Joe Satriani, Steve Vai etc. \m/