%ul.links-horizontal
  - unless defined?(big)
    %li.indicator
  %li
    = link_to '#who' do
      Who
      - if defined?(big)
        %br
        %span.btn.btn-primary.btn-xs
          %i.fa.fa-chevron-down
  %li
    = link_to '#jobs' do
      Jobs/education
      - if defined?(big)
        %br
        %span.btn.btn-primary.btn-xs
          %i.fa.fa-chevron-down
  %li
    = link_to '#tech' do
      Tech
      - if defined?(big)
        %br
        %span.btn.btn-primary.btn-xs
          %i.fa.fa-chevron-down
  %li
    = link_to '#life' do
      Life 
      - if defined?(big)
        %br
        %span.btn.btn-primary.btn-xs
          %i.fa.fa-chevron-down