<!-- Twitter card -->
%meta{content: "summary_large_image", name: "twitter:card"}
%meta{content: "@stecb", name: "twitter:site"}
%meta{content: "@stecb", name: "twitter:creator"}
%meta{content: current_page.data.title, name: "twitter:title"}
%meta{content: "I love coding, in particular with JavaScript, and I love building fast, performant, rock solid web interfaces/applications for the desktop and mobile. I like challenges and I'm eager to learn new things and to improve every day.", name: "twitter:description"}
%meta{content: "http://stecb.ninja/fb_og-12068b66.jpg", name: "twitter:image:src"}
%meta{content: "http://stecb.ninja", name: "twitter:url"}
<!-- Open graph -->
%meta{content: "stecb", property: "og:site_name"}
%meta{content: current_page.data.title, property: "og:title"}
%meta{content: "I love coding, in particular with JavaScript, and I love building fast, performant, rock solid web interfaces/applications for the desktop and mobile. I like challenges and I'm eager to learn new things and to improve every day.", name: "og:description"}
%meta{content: "http://stecb.ninja/fb_og-12068b66.jpg", property: "og:image"}
%meta{content: "http://stecb.ninja/", property: "og:url"}
%meta{content: "en_US", property: "og:locale"}