.section-cover.section-cover-tech{data: {menuitem: 'is-current-tech'}}
  %h2 Tech
  %h3
    .sub-line What I do.
    .sub-line What I love.
    .sub-line My passion.

.container
  %p As you could understand, I totally love JavaScript and I'm passionate about everything that concerns the front-end development and resposive design. I also can develop full stack applications and I love programming in general and here's a list of the programming/markup languages* I know and the level of knowledge.
.scrollable-element-wrapper
  .langs
    %ul.langs-items{style: "width: #{(data.langs.length * 130)-60}px" }
      - data.langs.each do |lang|
        - prog_lang = lang[0]
        - level = lang[1]
        %li
          %span= prog_lang
          .lang-input-wrapper
            %input{type: :text, value: level, data: {width: '100', displayInput: 'false'}}
.container
  %p Here's also a list of the frameworks/libs/tools* I know and the level of knowledge
.scrollable-element-wrapper
  .langs
    %ul.langs-items{style: "width: #{(data.other.length * 130)-60}px" }
      - data.other.each do |f|
        - other = f[0]
        - level = f[1]
        %li
          %span= other
          .lang-input-wrapper
            %input{type: :text, value: level, data: {width: '100', displayInput: 'false'}}
.container
  %p.small *I'm a very quick learner, so whatever langs/technology I'll have to study in the future it will be totally fine! I love learning new things and I'm always looking forward to new challenges!
  %p I'm an avid  user and I use sublime text as code editor.
  %p Finally, I also gave some talks about technologies I use:
  %ul
    %li 
      <a href="https://vimeo.com/147351380" target="_blank">[english] REACT JS - Rethinking UI Development 2.0</a>
      %small @ React day (main React conference in Italy, 200 people) - Oct 30th 2015, Verona (IT)
    %li 
      <a href="https://www.youtube.com/watch?v=Y3VrCRexOb4" target="_blank">REACT JS - Rethinking UI Development</a>
      %small @ Fevr - May 20th 2015, Verona (IT)
    %li 
      <a href="https://speakerdeck.com/stecb/react-dot-js-rethinking-ui-development" target="_blank">REACT JS - Rethinking UI Development</a>
      %small @ Programmers in Padua - March 18th 2015, Padua (IT)
    %li 
      <a href="https://www.youtube.com/watch?v=7j8xW8kIEBA" target="_blank">from JavaScript to CoffeeScript</a>
      %small @ Programmers in Padua - June 29th 2012, Padua (IT)
    %li 
      <a href="http://www.slideshare.net/stefanoceschiberrini/templating-with-your-mustachejs" target="_blank">Templating with your mustache.js</a> 
      %small @ Fronteers Jam Session - October 5th 2011, Amsterdam (NL)
    %li 
      <a href="http://prezi.com/lykicmm5l1g8/mootools-get-more-out-of-your-js/" target="_blank">MooTools: get more $$ out of your JS</a>
      %small @ Programmers in Padua - June 24th 2011, Padua (IT)
  %hr
  %p You can find the code of this website on github <a href="https://github.com/stecb/stecb.github.io/tree/source">here</a>
  %p You can also play "Memorysta - play memory with instagram pictures" (a little game I made in 1 evening for my brother) here: <a href="http://stecb.ninja/memorysta/">http://stecb.ninja/memorysta/</a>