.section-cover.section-cover-who
  %h2 Who am I?
  %h3
    .sub-line Computer science grad.
    .sub-line JavaScript lover.
    .sub-line Life enthusiast.
.container
  .alert.alert-info
    %b New:
    I gave a talk (in English) at the main React conference in Italy (~200 people) on Oct, 30th 2015 in Verona. I spoke about both ES2015 and React in general. You can watch it <a href="https://vimeo.com/147351380" target="_blank">here</a>
  %p
    %strong TL;DR:
    I love coding, in particular with JavaScript/EcmaScript2015 and React, and I love building fast, performant, rock solid web interfaces/applications for the <b>desktop</b> and <b>mobile</b>. I like challenges and I'm eager to learn new things and to improve every day.
    %br
    %br
    %strong the long version:
    I'm a passionate <a href="http://en.wikipedia.org/wiki/Front_End_Development" target="_blank">front-end/UI/UX engineer</a>, <a href="http://www.math.unipd.it/en/" target="_blank">computer science grad</a> from Padua(Italy) and I've been doing (and loving) professionally this since the university years (~2004/2007). This means I can design, code, test and deliver complex web interfaces/applications within an extremely small amount of time.
    Being this kind of software engineer thrills me and I love building awesome interfaces for the web from scratch. I also have a deep passion for clean design, performance and speed and I think my personal mission is to make complex interfaces easy to use also for my 90 y.o. grandma.
    %br
    %br
    I eat <a href="en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> and <a href="https://www.ruby-lang.org/" target="_blank">Ruby</a> for breakfast and I'm a huge <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>, <a href="http://facebook.github.io/react/" target="_blank">React</a> and ES2015 fan. Lately I'm also enjoying a lot <a href="http://nodejs.org/" target="_blank">node.js</a> and <b>mobile/responsive</b> performance and design. Moreover, during my job and my spare time, I research/test <a href="http://en.wikipedia.org/wiki/CSS3" target="_blank">CSS3</a> and <a href="http://en.wikipedia.org/wiki/HTML5" target="_blank">HTML5</a> stuff on a tons of web/mobile browsers and I also code with SASS, HAML and sometimes C, C++ and Python. 
    %br
    I can also develop full-stack applications (using sql/nosql persistence) and I also used to be a PHP and Java programmer ... and I'm not ashamed of it :P ... mmm, well, I think I should be a little bit ashamed, but whatever :D
    %br
    I use(<b>d</b>, because of lately I have a very small amount of free time) to be an <a href="https://github.com/stecb" target="_blank"><i class="fa fa-github"></i> open source contributor</a> and a <a href="http://stackoverflow.com/users/528262/stecb" target="_blank"><i class="fa fa-stack-overflow"></i> stackoverflow</a> active member.
    %br
    %br
  %p 
    You can
    = link_to 'https://dl.dropboxusercontent.com/u/12929265/cv/stefano_ceschiberrini.pdf', class: 'btn btn-primary btn-xs', id: 'link_download_cv', target: '_blank' do
      %i.fa.fa-download
      Download my cv
    or, by scrolling down, you'll find some more information about my jobs/portfolio, technologies I master and some stuff I love.