$trans: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$main-color: rgba(0,0,0,.8);

@import "normalize";
@import "compass";
@import 'animate';
@import 'animate/shake';
@import 'animate/pulse';
@import 'animate/fadeOutUp';
@import 'fontawesome/font-awesome';
@import 'mixins/vendor_prefixes';
@import 'bootstrap/variables';
@import 'bootstrap/mixins/grid';
@import 'bootstrap/mixins/forms';
@import 'bootstrap/mixins/tab-focus';
@import 'bootstrap/mixins/buttons';
@import 'bootstrap/buttons';
@import 'bootstrap/forms';
@import 'bootstrap/input-groups';

@import "modules/cards";
@import "modules/inputs";
@import "modules/board";

body {
  -webkit-backface-visibility: visible;
  position: relative;
  font-family: 'Roboto Condensed', Georgia, sans-serif;
  background-color: #fff;
  letter-spacing: -0.02em;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $main-color;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.01rem;
  text-align: center;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.small {
  font-size: 14px;
}